/* src/styles/global.css */
body {
	background-color: #000;
	/* Чёрный фон */
	color: white;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

/* Анимации для переходов между страницами */
.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}

/* Базовые стили кнопок (опционально) */
.btn {
	background: white;
	color: black;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	margin: 10px;
	transition: all 0.3s;
}

.btn:hover {
	background: gray;
}